.App {
  text-align: center;
}

.header {
  height: 100px;
  width: 100vw;
  background-color: #9C3524;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}

img {
  max-width: 320px;
  max-height: 200px;
  margin-top: 20px;
}

.form-container {
  height: 520px;
  width: 450px;
  background-color: #72D48E;
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
  justify-content: space-around;
}

.product-container {
  width: 450px;
  height: 400px;
  background-color: #C2503E;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}

button {
  margin: 20px;
  font-size: 15px;
  height: 5em;
  border-radius: 10px;

}

input {
  width: 80%;
}